.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 56px;
  padding: 0 32px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  box-shadow: 0px 8px 24px rgba(32, 20, 78, 0.4);

  @media screen and (max-width: 991px) {
    height: 48px;
    padding: 0 24px;
    font-size: 16px;
  }

  &_small {
    height: 36px;
    padding: 0 24px;
    font-size: 14px;
  }
}

.Arrow {
  filter: brightness(255) saturate(100%);
}