
.Row {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;

  button {
    width: 20% !important;
  }

  &_small {
    width: max-content;
    margin-left: 9px;

    button {
      width: calc(100% / 3) !important;
    }
  }

  &_withBigButton {
    button {
      width: 100% !important;
    }
  }

  button {
    background: #fff !important;
  }
}

.Container {
  width: 100%;
  justify-content: space-between;

  .Row:first-child {
    width: 20%;
    min-width: 110px;
  }

  .Row:last-child {
    width: 60%;
  }
}

.Icon {
  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &Bold {
    width: 12px;
    height: 20px;
  }

  &Italic {
    width: 11px;
    height: 20px;
  }

  &Underline {
    width: 11px;
    height: 15px;
  }

  &Strike {
    width: 15px;
    height: 20px;
  }

  &Link {
    width: 18px;
    height: 20px;
  }

  &TextStyle {
    width: 17px;
    height: 20px;
    margin-right: 5px;
  }

  &Alignment {
    width: 16px;
    height: 20px;
    margin-right: 5px;
  }

  &ColorPicker {
    width: 18px;
    height: 18px;
  }

  &Arrow {
    width: 11px;
    height: 14px;
  }
}

.TextStyle {
  width: 70%;
  margin-right: 5px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #070413;
}

.Arial span {
  font-family: 'Arial', 'Roboto' !important;
}

.ComicSansMS span {
  font-family: 'Comic Sans MS', 'Roboto' !important;
}

.CourierNew span {
  font-family: 'Courier New', 'Roboto' !important;
}