
.Popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 56px);
  background: #fff;
  z-index: 1000;
}

.Shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #070413;
  opacity: 0.48;
  z-index: 1002;
  cursor: pointer;
}

.Content {
  position: absolute;
  width: 496px;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  overflow-y: auto;
  z-index: 1003;
}

.Wrapper {
  position: relative;
  width: 100%;
  padding: 32px;
  background: #fff;
  border-radius: 8px;
}

.Title {
  margin-bottom: 24px;
  text-align: center;
  color: #070413;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.Form {
  margin-bottom: 24px;

  input {
    height: 40px;
  }
}

.Label {
  margin-bottom: 8px;
  color: #9390A0;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.CloseIcon {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}

.ButtonAccept {
  width: 48%;
  margin: 0 auto;
  background: rgba(100, 66, 238, 0.08);
  box-shadow: none;
  color: #6442EE;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    opacity: 0.7;
  }
}

.ButtonReject {
  width: 48%;
  background: rgba(130, 128, 139, 0.12);
  box-shadow: none;
  color: #070413;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    opacity: 0.7;
  }
}

.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddFile {
  height: 244px;
}

.Preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  min-height: 150px;
  border-radius: 8px;
  background: #fff;

  &Remove {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    cursor: pointer;

    &:hover {
      transition: 0.3s;
      opacity: 0.6;
    }
  }
}