
.Page {
  width: 100%;
  min-height: 100%;
  background: rgb(243, 242, 247) no-repeat center / cover;
}

.Wrapper {
  max-width: 1220px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.Block {
  margin: 20px 0;
}
