
.Select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 14px 16px 14px 12px;
  background: #fff;
  border: 1px solid #E6E5E9;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #070413;
  cursor: pointer;
}

.Items {
  position: absolute;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #D8D6E2;
  border-left: 1px solid #D8D6E2;
  border-right: 1px solid #D8D6E2;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

}

.Item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}